# install and run nginx locally in ubuntu system
# ansible-playbook nginx.yml

- name: Install and start nginx
  hosts: localhost
  connection: local
  become: true

  tasks:
    - name: Install Nginx
      apt:
        name: nginx
        state: present
    - name: Start Nginx
      service:
        name: nginx
        state: started